@model TestEntity2.Models.Users
@{
    ViewData["Title"] = "Créer un utilisateur";
}

<span data-save="@TempData["isSave"]" data-message="@TempData["message"]" id="toastComponent"></span>
<div class="row">
    <div class="col s12">
        <h2>Editer un utilisateur</h2>
        @Html.ActionLink("Retour à la liste des utilisateurs", "Index", "Users")
    </div>
</div>
<div class="row">
    <div class="col s12">
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col s9">
                    <div class="row">
                        <div class="input-field col s12">
                            @Html.EditorFor(model => model.Username,
                                                new { htmlAttributes = new { @class = "validate" } })
                            @Html.LabelFor(model => model.Username)
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            @Html.EditorFor(model => model.Firstname,
                                                new { htmlAttributes = new { @class = "validate" } })
                            @Html.LabelFor(model => model.Firstname)
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            @Html.EditorFor(model => model.Lastname,
                                                new { htmlAttributes = new { @class = "validate" } })
                            @Html.LabelFor(model => model.Lastname)
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            @Html.EditorFor(model => model.Email,
                                                new { htmlAttributes = new { @class = "validate" } })
                            @Html.LabelFor(model => model.Email)
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="row">
                        <div class="col s12">
                            <button class="waves-effect waves-light btn-large"
                                    asp-area=""
                                    asp-controller="Users"
                                    asp-action="Edit" type="submit">
                                Editer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
