@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http;

<div class="row">
    <h1 class="display-4">Bienvenue sur mon Blog</h1>
</div>
<div class="row">
    <div class="col s4 offset-s8">
        <select id="jsFilter" multiple>
            <option value="" disabled selected>Filtrer par catégorie</option>
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.Id">@category.Title</option>
            }
        </select>
        <label>Materialize Select</label>
    </div>
</div>
<div class="row">
    <div class="col s12" id="jsCards">
        @foreach (var post in ViewBag.Posts)
        {
            <div class="card jsPostCard" data-id="@post.Id">
                <div class="card-content">
                    <div class="chip right">
                        @post.Category.Title
                    </div>
                    <span class="card-title">@post.Title</span>
                    <p>
                        @post.Content.Substring(0, Math.Min(post.Content.Length, 250))...
                    </p>
                </div>
                <div class="card-action">
                    <a asp-route-id="@post.Id"
                       asp-area=""
                       asp-controller="Home"
                       asp-action="Details">
                        Lire la suite
                    </a>
                </div>
            </div>
        }
    </div>
</div>